{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false
    },
    "env": {
        "browser": true,
        "amd": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "react-app",
        "plugin:prettier/recommended",
        "prettier/react",
        "prettier/standard"
    ],
    "rules" : {
        "no-unused-vars": [2, {
            "varsIgnorePattern": "[iI]gnored",
            "args": "all",
            "argsIgnorePattern": "^_",
            "caughtErrors": "none"
        }],
        "comma-dangle": [2, {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "always-multiline",
          "exports": "always-multiline",
          "functions": "ignore"
        }],
        "no-mixed-spaces-and-tabs" : 2,
        "no-console": 1,
        "no-undef": 2,
        "import/no-extraneous-dependencies":0,
        "no-restricted-syntax": 0,
        "linebreak-style": 0,
        "class-methods-use-this": 0,
        "react/forbid-prop-types": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "jsx-a11y/href-no-hash": 0,
        "max-len": ["error", { "code": 120}],
        "radix": 0,
        "array-callback-return": 0,
        "eqeqeq": 2
    }
}
